:root {
	--gray-50: oklch(0.96 0 0);
	--gray-100: oklch(0.92 0 0);
	--gray-200: oklch(0.85 0 0);
	--gray-300: oklch(0.79 0 0);
	--gray-400: oklch(0.75 0 0);
	--gray-500: oklch(0.71 0 0);
	--gray-600: oklch(0.62 0 0);
	--gray-700: oklch(0.52 0 0);
	--gray-800: oklch(0.41 0 0);
	--gray-900: oklch(0.3 0 0);
	--gray-950: oklch(0.23 0 0);

	--red-50: oklch(0.96 0.02 22.6);
	--red-100: oklch(0.92 0.04 22.6);
	--red-200: oklch(0.86 0.08 22.6);
	--red-300: oklch(0.8 0.11 22.6);
	--red-400: oklch(0.76 0.14 22.6);
	--red-500: oklch(0.72 0.16 22.6);
	--red-600: oklch(0.63 0.14 22.6);
	--red-700: oklch(0.54 0.12 22.6);
	--red-800: oklch(0.42 0.09 22.6);
	--red-900: oklch(0.31 0.07 22.6);
	--red-950: oklch(0.23 0.05 22.6);
	--orange-50: oklch(0.96 0.02 59);
	--orange-100: oklch(0.92 0.04 59);
	--orange-200: oklch(0.86 0.08 59);
	--orange-300: oklch(0.79 0.11 59);
	--orange-400: oklch(0.76 0.14 59);
	--orange-500: oklch(0.72 0.16 59);
	--orange-600: oklch(0.63 0.14 59);
	--orange-700: oklch(0.53 0.12 59);
	--orange-800: oklch(0.42 0.09 59);
	--orange-900: oklch(0.3 0.07 59);
	--orange-950: oklch(0.23 0.05 59);
	--yellow-50: oklch(0.95 0.02 97);
	--yellow-100: oklch(0.92 0.04 97);
	--yellow-200: oklch(0.85 0.08 97);
	--yellow-300: oklch(0.79 0.11 97);
	--yellow-400: oklch(0.75 0.14 97);
	--yellow-500: oklch(0.7 0.16 97);
	--yellow-600: oklch(0.62 0.14 97);
	--yellow-700: oklch(0.52 0.12 97);
	--yellow-800: oklch(0.41 0.09 97);
	--yellow-900: oklch(0.3 0.07 97);
	--yellow-950: oklch(0.22 0.05 97);
	--pear-50: oklch(0.95 0.02 117);
	--pear-100: oklch(0.91 0.04 117);
	--pear-200: oklch(0.85 0.08 117);
	--pear-300: oklch(0.78 0.11 117);
	--pear-400: oklch(0.74 0.14 117);
	--pear-500: oklch(0.7 0.16 117);
	--pear-600: oklch(0.61 0.14 117);
	--pear-700: oklch(0.52 0.12 117);
	--pear-800: oklch(0.41 0.09 117);
	--pear-900: oklch(0.3 0.07 117);
	--pear-950: oklch(0.22 0.05 117);
	--lime-50: oklch(0.95 0.02 136);
	--lime-100: oklch(0.91 0.04 136);
	--lime-200: oklch(0.84 0.08 136);
	--lime-300: oklch(0.78 0.11 136);
	--lime-400: oklch(0.74 0.14 136);
	--lime-500: oklch(0.69 0.16 136);
	--lime-600: oklch(0.61 0.14 136);
	--lime-700: oklch(0.51 0.12 136);
	--lime-800: oklch(0.4 0.09 136);
	--lime-900: oklch(0.29 0.07 136);
	--lime-950: oklch(0.22 0.05 136);
	--emerald-50: oklch(0.95 0.02 163.4);
	--emerald-100: oklch(0.91 0.04 163.4);
	--emerald-200: oklch(0.84 0.08 163.4);
	--emerald-300: oklch(0.77 0.11 163.4);
	--emerald-400: oklch(0.73 0.14 163.4);
	--emerald-500: oklch(0.68 0.16 163.4);
	--emerald-600: oklch(0.6 0.14 163.4);
	--emerald-700: oklch(0.51 0.12 163.4);
	--emerald-800: oklch(0.4 0.09 163.4);
	--emerald-900: oklch(0.29 0.07 163.4);
	--emerald-950: oklch(0.22 0.05 163.4);
	--cyan-50: oklch(0.95 0.02 194.1);
	--cyan-100: oklch(0.91 0.04 194.1);
	--cyan-200: oklch(0.84 0.08 194.1);
	--cyan-300: oklch(0.77 0.11 194.1);
	--cyan-400: oklch(0.73 0.14 194.1);
	--cyan-500: oklch(0.68 0.16 194.1);
	--cyan-600: oklch(0.6 0.14 194.1);
	--cyan-700: oklch(0.51 0.12 194.1);
	--cyan-800: oklch(0.4 0.09 194.1);
	--cyan-900: oklch(0.29 0.07 194.1);
	--cyan-950: oklch(0.21 0.05 194.1);
	--sky-50: oklch(0.95 0.02 231);
	--sky-100: oklch(0.91 0.04 231);
	--sky-200: oklch(0.85 0.08 231);
	--sky-300: oklch(0.78 0.11 231);
	--sky-400: oklch(0.74 0.14 231);
	--sky-500: oklch(0.69 0.16 231);
	--sky-600: oklch(0.61 0.14 231);
	--sky-700: oklch(0.51 0.12 231);
	--sky-800: oklch(0.4 0.09 231);
	--sky-900: oklch(0.29 0.07 231);
	--sky-950: oklch(0.22 0.05 231);
	--blue-50: oklch(0.96 0.02 266);
	--blue-100: oklch(0.92 0.04 266);
	--blue-200: oklch(0.85 0.08 266);
	--blue-300: oklch(0.79 0.11 266);
	--blue-400: oklch(0.75 0.14 266);
	--blue-500: oklch(0.71 0.16 266);
	--blue-600: oklch(0.62 0.14 266);
	--blue-700: oklch(0.53 0.12 266);
	--blue-800: oklch(0.41 0.09 266);
	--blue-900: oklch(0.3 0.07 266);
	--blue-950: oklch(0.22 0.05 266);
	--iris-50: oklch(0.96 0.02 285);
	--iris-100: oklch(0.92 0.04 285);
	--iris-200: oklch(0.86 0.08 285);
	--iris-300: oklch(0.79 0.11 285);
	--iris-400: oklch(0.76 0.14 285);
	--iris-500: oklch(0.72 0.16 285);
	--iris-600: oklch(0.63 0.14 285);
	--iris-700: oklch(0.53 0.12 285);
	--iris-800: oklch(0.42 0.09 285);
	--iris-900: oklch(0.31 0.07 285);
	--iris-950: oklch(0.23 0.05 285);
	--violet-50: oklch(0.96 0.02 304);
	--violet-100: oklch(0.92 0.04 304);
	--violet-200: oklch(0.86 0.08 304);
	--violet-300: oklch(0.8 0.11 304);
	--violet-400: oklch(0.76 0.14 304);
	--violet-500: oklch(0.72 0.16 304);
	--violet-600: oklch(0.63 0.14 304);
	--violet-700: oklch(0.53 0.12 304);
	--violet-800: oklch(0.42 0.09 304);
	--violet-900: oklch(0.31 0.07 304);
	--violet-950: oklch(0.23 0.05 304);
	--fuchsia-50: oklch(0.96 0.02 323);
	--fuchsia-100: oklch(0.92 0.04 323);
	--fuchsia-200: oklch(0.86 0.08 323);
	--fuchsia-300: oklch(0.8 0.11 323);
	--fuchsia-400: oklch(0.76 0.14 323);
	--fuchsia-500: oklch(0.72 0.16 323);
	--fuchsia-600: oklch(0.63 0.14 323);
	--fuchsia-700: oklch(0.54 0.12 323);
	--fuchsia-800: oklch(0.42 0.09 323);
	--fuchsia-900: oklch(0.31 0.07 323);
	--fuchsia-950: oklch(0.23 0.05 323);
	--byzantium-50: oklch(0.96 0.02 342);
	--byzantium-100: oklch(0.92 0.04 342);
	--byzantium-200: oklch(0.86 0.08 342);
	--byzantium-300: oklch(0.8 0.11 342);
	--byzantium-400: oklch(0.76 0.14 342);
	--byzantium-500: oklch(0.72 0.16 342);
	--byzantium-600: oklch(0.64 0.14 342);
	--byzantium-700: oklch(0.54 0.12 342);
	--byzantium-800: oklch(0.42 0.09 342);
	--byzantium-900: oklch(0.31 0.07 342);
	--byzantium-950: oklch(0.23 0.05 342);
}

@theme {
	--color-*: initial;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-transparent: transparent;
	--color-current: currentColor;
	--color-initial: initial;

	--color-primary: var(--fuchsia-700);
	--color-primary-hover: var(--fuchsia-400);
	--color-primary-subtle: var(--fuchsia-200);
	--color-surface-tint: var(--fuchsia-100);
	--color-text-base: #3b413c;
	--color-text-muted: #7d8580;
	--color-surface: #ffffff;
	--color-bg: #f2f3f2;
	--color-border: var(--emerald-600);
	--color-danger: var(--red-600);
	--color-danger-subtle: var(--red-200);

	--color-gray-50: var(--gray-50);
	--color-gray-100: var(--gray-100);
	--color-gray-200: var(--gray-200);
	--color-gray-300: var(--gray-300);
	--color-gray-400: var(--gray-400);
	--color-gray-500: var(--gray-500);
	--color-gray-600: var(--gray-600);
	--color-gray-700: var(--gray-700);
	--color-gray-800: var(--gray-800);
	--color-gray-900: var(--gray-900);
	--color-gray-950: var(--gray-950);

	--color-red-50: var(--red-50);
	--color-red-100: var(--red-100);
	--color-red-200: var(--red-200);
	--color-red-300: var(--red-300);
	--color-red-400: var(--red-400);
	--color-red-500: var(--red-500);
	--color-red-600: var(--red-600);
	--color-red-700: var(--red-700);
	--color-red-800: var(--red-800);
	--color-red-900: var(--red-900);
	--color-red-950: var(--red-950);
	--color-orange-50: var(--orange-50);
	--color-orange-100: var(--orange-100);
	--color-orange-200: var(--orange-200);
	--color-orange-300: var(--orange-300);
	--color-orange-400: var(--orange-400);
	--color-orange-500: var(--orange-500);
	--color-orange-600: var(--orange-600);
	--color-orange-700: var(--orange-700);
	--color-orange-800: var(--orange-800);
	--color-orange-900: var(--orange-900);
	--color-orange-950: var(--orange-950);
	--color-yellow-50: var(--yellow-50);
	--color-yellow-100: var(--yellow-100);
	--color-yellow-200: var(--yellow-200);
	--color-yellow-300: var(--yellow-300);
	--color-yellow-400: var(--yellow-400);
	--color-yellow-500: var(--yellow-500);
	--color-yellow-600: var(--yellow-600);
	--color-yellow-700: var(--yellow-700);
	--color-yellow-800: var(--yellow-800);
	--color-yellow-900: var(--yellow-900);
	--color-yellow-950: var(--yellow-950);
	--color-pear-50: var(--pear-50);
	--color-pear-100: var(--pear-100);
	--color-pear-200: var(--pear-200);
	--color-pear-300: var(--pear-300);
	--color-pear-400: var(--pear-400);
	--color-pear-500: var(--pear-500);
	--color-pear-600: var(--pear-600);
	--color-pear-700: var(--pear-700);
	--color-pear-800: var(--pear-800);
	--color-pear-900: var(--pear-900);
	--color-pear-950: var(--pear-950);
	--color-lime-50: var(--lime-50);
	--color-lime-100: var(--lime-100);
	--color-lime-200: var(--lime-200);
	--color-lime-300: var(--lime-300);
	--color-lime-400: var(--lime-400);
	--color-lime-500: var(--lime-500);
	--color-lime-600: var(--lime-600);
	--color-lime-700: var(--lime-700);
	--color-lime-800: var(--lime-800);
	--color-lime-900: var(--lime-900);
	--color-lime-950: var(--lime-950);
	--color-emerald-50: var(--emerald-50);
	--color-emerald-100: var(--emerald-100);
	--color-emerald-200: var(--emerald-200);
	--color-emerald-300: var(--emerald-300);
	--color-emerald-400: var(--emerald-400);
	--color-emerald-500: var(--emerald-500);
	--color-emerald-600: var(--emerald-600);
	--color-emerald-700: var(--emerald-700);
	--color-emerald-800: var(--emerald-800);
	--color-emerald-900: var(--emerald-900);
	--color-emerald-950: var(--emerald-950);
	--color-cyan-50: var(--cyan-50);
	--color-cyan-100: var(--cyan-100);
	--color-cyan-200: var(--cyan-200);
	--color-cyan-300: var(--cyan-300);
	--color-cyan-400: var(--cyan-400);
	--color-cyan-500: var(--cyan-500);
	--color-cyan-600: var(--cyan-600);
	--color-cyan-700: var(--cyan-700);
	--color-cyan-800: var(--cyan-800);
	--color-cyan-900: var(--cyan-900);
	--color-cyan-950: var(--cyan-950);
	--color-sky-50: var(--sky-50);
	--color-sky-100: var(--sky-100);
	--color-sky-200: var(--sky-200);
	--color-sky-300: var(--sky-300);
	--color-sky-400: var(--sky-400);
	--color-sky-500: var(--sky-500);
	--color-sky-600: var(--sky-600);
	--color-sky-700: var(--sky-700);
	--color-sky-800: var(--sky-800);
	--color-sky-900: var(--sky-900);
	--color-sky-950: var(--sky-950);
	--color-blue-50: var(--blue-50);
	--color-blue-100: var(--blue-100);
	--color-blue-200: var(--blue-200);
	--color-blue-300: var(--blue-300);
	--color-blue-400: var(--blue-400);
	--color-blue-500: var(--blue-500);
	--color-blue-600: var(--blue-600);
	--color-blue-700: var(--blue-700);
	--color-blue-800: var(--blue-800);
	--color-blue-900: var(--blue-900);
	--color-blue-950: var(--blue-950);
	--color-iris-50: var(--iris-50);
	--color-iris-100: var(--iris-100);
	--color-iris-200: var(--iris-200);
	--color-iris-300: var(--iris-300);
	--color-iris-400: var(--iris-400);
	--color-iris-500: var(--iris-500);
	--color-iris-600: var(--iris-600);
	--color-iris-700: var(--iris-700);
	--color-iris-800: var(--iris-800);
	--color-iris-900: var(--iris-900);
	--color-iris-950: var(--iris-950);
	--color-violet-50: var(--violet-50);
	--color-violet-100: var(--violet-100);
	--color-violet-200: var(--violet-200);
	--color-violet-300: var(--violet-300);
	--color-violet-400: var(--violet-400);
	--color-violet-500: var(--violet-500);
	--color-violet-600: var(--violet-600);
	--color-violet-700: var(--violet-700);
	--color-violet-800: var(--violet-800);
	--color-violet-900: var(--violet-900);
	--color-violet-950: var(--violet-950);
	--color-fuchsia-50: var(--fuchsia-50);
	--color-fuchsia-100: var(--fuchsia-100);
	--color-fuchsia-200: var(--fuchsia-200);
	--color-fuchsia-300: var(--fuchsia-300);
	--color-fuchsia-400: var(--fuchsia-400);
	--color-fuchsia-500: var(--fuchsia-500);
	--color-fuchsia-600: var(--fuchsia-600);
	--color-fuchsia-700: var(--fuchsia-700);
	--color-fuchsia-800: var(--fuchsia-800);
	--color-fuchsia-900: var(--fuchsia-900);
	--color-fuchsia-950: var(--fuchsia-950);
	--color-byzantium-50: var(--byzantium-50);
	--color-byzantium-100: var(--byzantium-100);
	--color-byzantium-200: var(--byzantium-200);
	--color-byzantium-300: var(--byzantium-300);
	--color-byzantium-400: var(--byzantium-400);
	--color-byzantium-500: var(--byzantium-500);
	--color-byzantium-600: var(--byzantium-600);
	--color-byzantium-700: var(--byzantium-700);
	--color-byzantium-800: var(--byzantium-800);
	--color-byzantium-900: var(--byzantium-900);
	--color-byzantium-950: var(--byzantium-950);
}
