@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
}

button[aria-label="Open TanStack Devtools"] {
    bottom: 1rem !important;
    right: auto !important;
    left: 1rem !important;
    top: auto !important;
}